In [245]:
import pandas as pd
import numpy as np

df_path = "../processing_2/train_test_merged_monthly.csv"
df = pd.read_csv(df_path, parse_dates=["Date"])
df['Id'] = range(1, len(df) + 1)

In [246]:
df.columns

Index(['Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle',
       'CodeTracabilite', 'Date', 'Tonnage', 'is_train', 'Recolte',
       'irrigation_cumulee_1', 'irrigation_cumulee_2', 'irrigation_cumulee_3',
       'irrigation_cumulee_4', 'irrigation_cumulee_5', 'irrigation_cumulee_6',
       'irrigation_cumulee_7', 'irrigation_cumulee_8', 'irrigation_cumulee_9',
       'irrigation_cumulee_10', 'irrigation_cumulee_11',
       'irrigation_cumulee_12', 'N_cumulee_1', 'P_cumulee_1', 'K_cumulee_1',
       'N_cumulee_2', 'P_cumulee_2', 'K_cumulee_2', 'N_cumulee_3',
       'P_cumulee_3', 'K_cumulee_3', 'N_cumulee_4', 'P_cumulee_4',
       'K_cumulee_4', 'N_cumulee_5', 'P_cumulee_5', 'K_cumulee_5',
       'N_cumulee_6', 'P_cumulee_6', 'K_cumulee_6', 'N_cumulee_7',
       'P_cumulee_7', 'K_cumulee_7', 'N_cumulee_8', 'P_cumulee_8',
       'K_cumulee_8', 'N_cumulee_9', 'P_cumulee_9', 'K_cumulee_9',
       'N_cumulee_10', 'P_cumulee_10', 'K_cumulee_10', 'N_cumulee_11',
       'P_cumulee_11', 'K_cumulee_11', 'N_cumulee_12', 'P_cumulee_12',
       'K_cumulee_12', 'Id'],
      dtype='object')

In [247]:
parcellaire_path = "../dataset/Parcellaire_1.csv"
df_parcel = pd.read_csv(parcellaire_path, parse_dates=[
                        "Date Plantation", "Date Arrachage"], delimiter=";", decimal=",", encoding="ISO-8859-1")

C:\Users\DataScience\AppData\Local\Temp\ipykernel_7456\755999619.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_parcel = pd.read_csv(parcellaire_path, parse_dates=[
C:\Users\DataScience\AppData\Local\Temp\ipykernel_7456\755999619.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_parcel = pd.read_csv(parcellaire_path, parse_dates=[

In [248]:
cols_parcel = df_parcel.columns
named_cols = [col for col in cols_parcel if not col.startswith('Unnamed')]
df_parcel = df_parcel[named_cols]

In [249]:
df_parcel

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date Plantation,Date Arrachage,Porte Greffe,Sup Debut Camp,Sup Plantee,Sup Arrachee,Sup Fin Camp
0,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,2005-01-07,NaT,PG1,5.3219,0.0,0.0,5.3219
1,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,12010,TR12010,2005-01-07,NaT,PG2,3.1979,0.0,0.0,3.1979
2,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,12020,TR12020,2005-01-07,NaT,PG2,7.3516,0.0,0.0,7.3516
3,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,12050,TR12050,2009-02-07,NaT,PG3,2.0610,0.0,0.0,2.0610
4,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,13010,TR13010,2014-04-06,NaT,PG2,5.6639,0.0,0.0,5.6639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2253,22/23,TADLA,Beni Mellal,ORA,ORA11,20021,TR20100,2018-01-08,NaT,PG5,2.7160,0.0,0.0,2.7160
2254,22/23,TADLA,Beni Mellal,ORA,ORA11,20050,TR20100,2018-01-08,NaT,PG5,3.8409,0.0,0.0,3.8409
2255,22/23,TADLA,Beni Mellal,SPA,SPA1,10013,TR10013,2018-01-08,2030-04-09,PG13,1.5610,0.0,0.0,1.5610
2256,22/23,TADLA,Beni Mellal,SPA,SPA1,40010,TR40010,2018-01-08,2030-04-09,PG4,0.7230,0.0,0.0,0.7230
2257,22/23,TADLA,Beni Mellal,SPA,SPA1,40020,TR40020,2020-01-07,2026-09-30,PG13,0.9640,0.0,0.0,0.9640

In [250]:
print(f'''
{df_parcel['Porte Greffe'].unique()}
{df_parcel['Porte Greffe'].isna().sum()}
''')

['PG1' 'PG2' 'PG3' 'PG4' 'PG5' 'PG6' 'PG7' 'PG8' 'PG9' 'PG10' 'PG11'
 'PG12' 'PG13']
0

In [251]:
['CodeTracabilite', 'Num Parcelle', 'Campagne']

['CodeTracabilite', 'Num Parcelle', 'Campagne']

In [252]:
df[(df['CodeTracabilite'] == "TR11011") & (df['Num Parcelle'] == "11011") & (df['Campagne'] == "20/21")]

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,Tonnage,is_train,...,N_cumulee_10,P_cumulee_10,K_cumulee_10,N_cumulee_11,P_cumulee_11,K_cumulee_11,N_cumulee_12,P_cumulee_12,K_cumulee_12,Id
256,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,2020-12-01,"978,8",True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,257
798,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,2021-02-01,"24547,23188",True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,799

In [253]:
df_parcel[(df_parcel['CodeTracabilite'] == "TR10000") & (df_parcel['Num Parcelle'] == "10127") & (df_parcel['Campagne'] == "21/22")]

Empty DataFrame
Columns: [Campagne, Region, Site, Famille, Variete, Num Parcelle, CodeTracabilite, Date Plantation, Date Arrachage, Porte Greffe, Sup Debut Camp, Sup Plantee, Sup Arrachee, Sup Fin Camp]
Index: []

In [254]:
df_parcel['Variete'].unique()

array(['AF1', 'ORA2', 'ORA4', 'CLA18', 'SPA10', 'CLA1', 'CLA6', 'CLA12',
       'CLA14', 'ORA5', 'ORA6', 'ORA9', 'ORA10', 'ORA11', 'ORA14', 'SPA1',
       'SPA11', 'CLA7', 'CLA15', 'CLA16', 'CLA13', 'CLA3', 'ORA1', 'ORA7',
       'ORA12', 'ORA13', 'AF2', 'ORA3', 'MAD3', 'NOA1', 'CLA8', 'MAD2',
       'CLA10', 'ORA8', 'SPA7', 'CLA17', 'CLA11', 'SPA2', 'CLA5', 'MAD1',
       'CLA4', 'CLA9', 'SPA3', 'SPA4', 'SPA5', 'SPA6', 'SPA8', 'SPA9',
       'MAD4', 'AF3'], dtype=object)

In [255]:
# df_parcel = df_parcel.drop(columns=['Famille', 'Variete'])

In [256]:
df_parcel.columns

Index(['Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle',
       'CodeTracabilite', 'Date Plantation', 'Date Arrachage', 'Porte Greffe',
       'Sup Debut Camp', 'Sup Plantee', 'Sup Arrachee', 'Sup Fin Camp'],
      dtype='object')

In [257]:
df.columns

Index(['Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle',
       'CodeTracabilite', 'Date', 'Tonnage', 'is_train', 'Recolte',
       'irrigation_cumulee_1', 'irrigation_cumulee_2', 'irrigation_cumulee_3',
       'irrigation_cumulee_4', 'irrigation_cumulee_5', 'irrigation_cumulee_6',
       'irrigation_cumulee_7', 'irrigation_cumulee_8', 'irrigation_cumulee_9',
       'irrigation_cumulee_10', 'irrigation_cumulee_11',
       'irrigation_cumulee_12', 'N_cumulee_1', 'P_cumulee_1', 'K_cumulee_1',
       'N_cumulee_2', 'P_cumulee_2', 'K_cumulee_2', 'N_cumulee_3',
       'P_cumulee_3', 'K_cumulee_3', 'N_cumulee_4', 'P_cumulee_4',
       'K_cumulee_4', 'N_cumulee_5', 'P_cumulee_5', 'K_cumulee_5',
       'N_cumulee_6', 'P_cumulee_6', 'K_cumulee_6', 'N_cumulee_7',
       'P_cumulee_7', 'K_cumulee_7', 'N_cumulee_8', 'P_cumulee_8',
       'K_cumulee_8', 'N_cumulee_9', 'P_cumulee_9', 'K_cumulee_9',
       'N_cumulee_10', 'P_cumulee_10', 'K_cumulee_10', 'N_cumulee_11',
       'P_cumulee_11', 'K_cumulee_11', 'N_cumulee_12', 'P_cumulee_12',
       'K_cumulee_12', 'Id'],
      dtype='object')

In [258]:
# Perform the left merge
merged_df = pd.merge(df, df_parcel, on=['Famille', 'Variete', 'CodeTracabilite', 'Num Parcelle', 'Campagne', 'Region', 'Site'], how='left')

In [259]:
(merged_df.shape[0] - df.shape[0])

43

In [260]:
visible_cols = ['Id','Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle',
                'CodeTracabilite', 'Date', 'Date Plantation', 'Date Arrachage', 'Porte Greffe', 'Tonnage', 'is_train', 'Recolte',
                'Sup Debut Camp', 'Sup Plantee', 'Sup Arrachee', 'Sup Fin Camp']

In [261]:
len(merged_df[~merged_df["is_train"]])

781

In [262]:
merged_df[(merged_df.duplicated('Id', keep=False) & (~merged_df["is_train"]))][visible_cols]

Empty DataFrame
Columns: [Id, Campagne, Region, Site, Famille, Variete, Num Parcelle, CodeTracabilite, Date, Date Plantation, Date Arrachage, Porte Greffe, Tonnage, is_train, Recolte, Sup Debut Camp, Sup Plantee, Sup Arrachee, Sup Fin Camp]
Index: []

In [263]:
merged_df.columns

Index(['Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle',
       'CodeTracabilite', 'Date', 'Tonnage', 'is_train', 'Recolte',
       'irrigation_cumulee_1', 'irrigation_cumulee_2', 'irrigation_cumulee_3',
       'irrigation_cumulee_4', 'irrigation_cumulee_5', 'irrigation_cumulee_6',
       'irrigation_cumulee_7', 'irrigation_cumulee_8', 'irrigation_cumulee_9',
       'irrigation_cumulee_10', 'irrigation_cumulee_11',
       'irrigation_cumulee_12', 'N_cumulee_1', 'P_cumulee_1', 'K_cumulee_1',
       'N_cumulee_2', 'P_cumulee_2', 'K_cumulee_2', 'N_cumulee_3',
       'P_cumulee_3', 'K_cumulee_3', 'N_cumulee_4', 'P_cumulee_4',
       'K_cumulee_4', 'N_cumulee_5', 'P_cumulee_5', 'K_cumulee_5',
       'N_cumulee_6', 'P_cumulee_6', 'K_cumulee_6', 'N_cumulee_7',
       'P_cumulee_7', 'K_cumulee_7', 'N_cumulee_8', 'P_cumulee_8',
       'K_cumulee_8', 'N_cumulee_9', 'P_cumulee_9', 'K_cumulee_9',
       'N_cumulee_10', 'P_cumulee_10', 'K_cumulee_10', 'N_cumulee_11',
       'P_cumulee_11', 'K_cumulee_11', 'N_cumulee_12', 'P_cumulee_12',
       'K_cumulee_12', 'Id', 'Date Plantation', 'Date Arrachage',
       'Porte Greffe', 'Sup Debut Camp', 'Sup Plantee', 'Sup Arrachee',
       'Sup Fin Camp'],
      dtype='object')

In [264]:
# add tree age column
merged_df['Tree Age'] = (merged_df['Date'] - merged_df['Date Plantation']).dt.days

# add days to arrachage
merged_df['Days to Arrachage'] = (merged_df['Date Arrachage'] - merged_df['Date']).dt.days

In [265]:
df_parcel[(df_parcel['CodeTracabilite'] == "TR21062") & (df_parcel['Num Parcelle'] == "21062") & (df_parcel['Campagne'] == "20/21")]

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date Plantation,Date Arrachage,Porte Greffe,Sup Debut Camp,Sup Plantee,Sup Arrachee,Sup Fin Camp
304,20/21,HAOUZ,Douar Ahl quadi,ORA,ORA2,21062,TR21062,2073-06-30,NaT,PG5,0.8854,0.0,0.0,0.8854

In [266]:
merged_df[(merged_df['CodeTracabilite'] == "TR21062") & (merged_df['Num Parcelle'] == "21062") & (merged_df['Campagne'] == "20/21")][visible_cols]

,Id,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,Date Plantation,Date Arrachage,Porte Greffe,Tonnage,is_train,Recolte,Sup Debut Camp,Sup Plantee,Sup Arrachee,Sup Fin Camp
884,868,20/21,HAOUZ,Douar Ahl quadi,ORA,ORA2,21062,TR21062,2021-02-01,2073-06-30,NaT,PG5,"11518,65359",True,0,0.8854,0.0,0.0,0.8854
1115,1096,20/21,HAOUZ,Douar Ahl quadi,ORA,ORA2,21062,TR21062,2021-03-01,2073-06-30,NaT,PG5,2465,True,1,0.8854,0.0,0.0,0.8854

In [267]:
merged_df[(merged_df['Tree Age'] <= 0) & (merged_df['Date Plantation'] != pd.NaT)]['Tree Age'] = np.nan

C:\Users\DataScience\AppData\Local\Temp\ipykernel_7456\4248208008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[(merged_df['Tree Age'] <= 0) & (merged_df['Date Plantation'] != pd.NaT)]['Tree Age'] = np.nan

In [268]:
mask = (merged_df['Tree Age'] <= 0) & (merged_df['Date Plantation'] != pd.NaT)
merged_df.loc[mask, 'Tree Age'] = np.nan

In [269]:
mask = (merged_df['Days to Arrachage'] <= 0) & (merged_df['Date Arrachage'] != pd.NaT)
merged_df.loc[mask, 'Days to Arrachage'] = np.nan

In [270]:
data = merged_df[["Sup Debut Camp", "Sup Plantee",
                 "Sup Arrachee", "Sup Fin Camp"]]
data.describe()

       Sup Debut Camp  Sup Plantee  Sup Arrachee  Sup Fin Camp
count     3578.000000  3578.000000   3578.000000   3578.000000
mean         2.159454     0.010619      0.132955      2.066072
std          2.327337     0.197279      0.597297      2.342514
min          0.400000     0.000000      0.000000      0.400000
25%          1.048425     0.000000      0.000000      1.000000
50%          1.335700     0.000000      0.000000      1.234000
75%          2.156800     0.000000      0.000000      2.007550
max         15.991000     5.008000      7.606000     15.991000

In [271]:
len(merged_df[~merged_df["is_train"]])

781

In [272]:
import os

folder_path2 = "../processing_2"

# Ensure the folder exists
if not os.path.exists(folder_path2):
    os.makedirs(folder_path2)

# Specify the full file path (folder path + file name)
file_path = os.path.join(folder_path2, 'data_all.csv')

# Save the DataFrame to a CSV file
merged_df.to_csv(file_path, index=False)