In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
from scipy import stats
from sklearn.metrics import mean_squared_error, mean_absolute_error
from datetime import datetime
import os

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder

folder_path2 = "../processing_2"

## SMTHG on test train

In [53]:
test_train = pd.read_csv("../processing_1/train_test.csv", index_col=False)

In [54]:
test_train

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,Tonnage,is_train
0,20/21,GHARB,Chorf Laghouazi,CLA,CLA1,13030,TR11130,01/10/2020,"269,855",True
1,20/21,GHARB,Chorf Laghouazi,CLA,CLA6,18030,TR11140,01/10/2020,"101605,9951",True
2,20/21,GHARB,Chorf Laghouazi,CLA,CLA12,13010,TR11120,01/10/2020,"170,354",True
3,20/21,GHARB,Chorf Laghouazi,CLA,CLA14,12010,TR11090,01/10/2020,"37891,08567",True
4,20/21,GHARB,Chorf Laghouazi,CLA,CLA14,12020,TR11100,01/10/2020,"45197,56034",True
...,...,...,...,...,...,...,...,...,...,...
3895,22/23,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/09/2023,NaN,False
3896,22/23,SOUSS,Ouled Abbou,SPA,SPA5,21021,TR21021,01/09/2023,NaN,False
3897,22/23,SOUSS,Ouled Abbou,SPA,SPA6,21121,TR21121,01/09/2023,NaN,False
3898,22/23,SOUSS,Ouled Abbou,SPA,SPA7,21081,TR21081,01/09/2023,NaN,False
3899,22/23,SOUSS,Ouled Abbou,SPA,SPA11,21011,TR21011,01/09/2023,NaN,False

In [55]:
group_columns = ['Variete', 'Campagne', 'CodeTracabilite', 'Num Parcelle']
test_train['Recolte'] = test_train.groupby(group_columns).cumcount()

In [56]:
test_train

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,Tonnage,is_train,Recolte
0,20/21,GHARB,Chorf Laghouazi,CLA,CLA1,13030,TR11130,01/10/2020,"269,855",True,0
1,20/21,GHARB,Chorf Laghouazi,CLA,CLA6,18030,TR11140,01/10/2020,"101605,9951",True,0
2,20/21,GHARB,Chorf Laghouazi,CLA,CLA12,13010,TR11120,01/10/2020,"170,354",True,0
3,20/21,GHARB,Chorf Laghouazi,CLA,CLA14,12010,TR11090,01/10/2020,"37891,08567",True,0
4,20/21,GHARB,Chorf Laghouazi,CLA,CLA14,12020,TR11100,01/10/2020,"45197,56034",True,0
...,...,...,...,...,...,...,...,...,...,...,...
3895,22/23,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/09/2023,NaN,False,7
3896,22/23,SOUSS,Ouled Abbou,SPA,SPA5,21021,TR21021,01/09/2023,NaN,False,6
3897,22/23,SOUSS,Ouled Abbou,SPA,SPA6,21121,TR21121,01/09/2023,NaN,False,7
3898,22/23,SOUSS,Ouled Abbou,SPA,SPA7,21081,TR21081,01/09/2023,NaN,False,7
3899,22/23,SOUSS,Ouled Abbou,SPA,SPA11,21011,TR21011,01/09/2023,NaN,False,6

In [57]:
filtered_df = test_train[
    (test_train['Campagne'] == '21/22') &
    (test_train['Region'] == 'SOUSS') &
    (test_train['Site'] == 'Ouled Abbou') &
    (test_train['Famille'] == 'SPA') &
    (test_train['Variete'] == 'SPA4') &
    (test_train['Num Parcelle'] == '21071') &
    (test_train['CodeTracabilite'] == 'TR21071')
]

# Show the rows that match the criteria
filtered_df

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,Tonnage,is_train,Recolte
1437,21/22,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/10/2021,"37699,7",True,0
1595,21/22,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/11/2021,3071,True,1
1828,21/22,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/12/2021,4445,True,2
2055,21/22,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/01/2022,"4969,7",True,3
2317,21/22,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/02/2022,"28875,2618",True,4
2740,21/22,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/07/2022,78011,True,5
2752,21/22,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/08/2022,7487,True,6
2756,21/22,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/09/2022,"5917,7",True,7

In [58]:
# Ensure the folder exists
if not os.path.exists(folder_path2):
    os.makedirs(folder_path2)

# Specify the full file path (folder path + file name)
file_path = os.path.join(folder_path2, 'train_test_perRecolte.csv')

# Save the DataFrame to a CSV file
test_train.to_csv(file_path, index=False)

## Merge it with irrigation

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../processing_2/train_test_perRecolte.csv")
df_irrig = pd.read_csv("../processing_1/combined_irrigation.csv")

df_irrig = df_irrig.rename(columns={'Code Traçabilité': 'CodeTracabilite'})

C:\Users\Oussama.ENNAJJAR\AppData\Local\Temp\ipykernel_15888\3109397961.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_irrig = pd.read_csv("../processing_1/combined_irrigation.csv")

In [4]:
df_irrig.isnull().sum()

Campagne           0
Region             0
Site               0
Famille            0
Variete            0
Num Parcelle       0
CodeTracabilite    0
Date               0
Qté eau (m3)       0
dtype: int64

In [5]:
# Convert 'Date' columns to datetime
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')
df_irrig['Date'] = pd.to_datetime(df_irrig['Date'], dayfirst=True, errors='coerce')

# Clean the 'Qté eau (m3)' column
df_irrig['Qté eau (m3)'] = df_irrig['Qté eau (m3)'].str.replace(',', '.')
df_irrig['Qté eau (m3)'] = df_irrig['Qté eau (m3)'].str.replace(r'[^\d.-]', '', regex=True).astype(float)


# # Sort both dataframes by necessary columns and 'Date'
# df= df.sort_values(by=['Campagne', 'Variete', 'Num Parcelle', 'CodeTracabilite', 'Date'])
# df_irrig = df_irrig.sort_values(by=['Campagne', 'Variete', 'Num Parcelle', 'CodeTracabilite', 'Date'])

C:\Users\Oussama.ENNAJJAR\AppData\Local\Temp\ipykernel_15888\1914679177.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_irrig['Date'] = pd.to_datetime(df_irrig['Date'], dayfirst=True, errors='coerce')

In [6]:
len(df_irrig[df_irrig["Qté eau (m3)"] != 0]) == len(df_irrig)

True

In [7]:
df.columns

Index(['Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle',
       'CodeTracabilite', 'Date', 'Tonnage', 'is_train', 'Recolte'],
      dtype='object')

In [8]:
len(df[
    (df['Site'] == 'Rabat')&
    (df['is_train'] == False)
    ])

7

CORRECTIONS !

In [9]:
def remove_after_dot(s):
    dot_position = s.find('.')
    if dot_position == -1:
        return s
    return s[:dot_position]

df_irrig['Num Parcelle'] = df_irrig['Num Parcelle'].astype(str)
df['Num Parcelle'] = df['Num Parcelle'].astype(str)

df_irrig['Num Parcelle'] = df_irrig['Num Parcelle'].apply(remove_after_dot)

df['Num Parcelle'] = df['Num Parcelle'].str.strip()
df_irrig['Num Parcelle'] = df_irrig['Num Parcelle'].str.strip()

df['CodeTracabilite'] = df['CodeTracabilite'].str.strip()
df_irrig['CodeTracabilite'] = df_irrig['CodeTracabilite'].str.strip()

In [10]:
df['Site'].replace("Bengu?rir", "Benguérir", inplace=True)

In [11]:
df_irrig["Num Parcelle"].unique()
# ▶️ Num Parcelle existant à train_test dataset, not irrigation: ['13130' '11112' '15070' '20093' '12251' '15040' '15080' '15090' '15100'
#  '15120' '19999' '23000' '10070' '11222' '40131' '22014' '12252' '22012'
#  '12022' '12122'], soit: 20

array(['11011', '12010', '12020', '12050', '13010', '15060', '14010',
       '13030', '18030', '12030', '12040', '17010', '17020', '17030',
       '17040', '17050', '17060', '17070', '22020', '22030', '22040',
       '11010', '11020', '11030', '23020', '23040', '23050', '23060',
       '23090', '23120', '22010', '19010', '13020', '23010', '23030',
       '15010', '11240', '11130', '11212', '11211', '11140', '11160',
       '11170', '14020', '18010', '16010', '16060', '21010', '21020',
       '16020', '16030', '16050', '16040', '18020', '10001', '10003',
       '10007', '10008', '10009', '10010', '10011', '10012', '10031',
       '10033', '10034', '10035', '20001', '20002', '20003', '20004',
       '20005', '20006', '20007', '20008', '10005', '10036', '13051',
       '13061', '13070', '13080', '13090', '13100', '13110', '13120',
       '13170', '15070', '13021', '13031', '13041', '13130', '11050',
       '11112', '12090', '12150', '13150', '11222', '11221', '11223',
       '12222', '16001', '12060', '12100', '12140', '13998', '13999',
       '15030', '15040', '15080', '15090', '15100', '15120', '19995',
       '19999', '22005', '12070', '12130', '14040', '14050', '14060',
       '14081', '14082', '21090', '21100', '23080', '23100', '23110',
       '23130', '23140', '23150', '24101', '23010 CLEMENTINE NULES',
       '22212', '32080', '33010', '33020', '23160', '23170', '23180',
       '23191', '23200', '23210', '23231', '24300', '21120', '21130',
       '21140', '21150', '21160', '22050', '22060', '22080', '24102',
       '30090', '31050', '31060', '31080', '32040', '32060', '32140',
       '22141', '22142', '22150', '22070', '22090', '24200', '31020',
       '31030', '31040', '32010', '32020', '32030', '32120', '32130',
       '32150', '10114', '10115', '10124', '10125', '10126', '10127',
       '10201', '10202', '10203', '10209', '10211', '10212', '10213',
       '20118', '20119', '20121', '20122', '20123', '20132', '20133',
       '20204', '20205', '20206', '20207', '20208', '20216', '20217',
       '20235', '30138', '30139', '30147', '30148', '30149', '30156',
       '30234', '30236', '30237', '30251', '40128', '40129', '40131',
       '40141', '40142', '40143', '40244', '40245', '40246', '40257',
       '40258', '40259', '40261', '50152', '50153', '50154', '50155',
       '50162', '50163', '50164', '50165', '50166', '50167', '50168',
       '50169', '50171', '50172', '50173', '50174', '50175', '50176',
       '10101', '10102', '10103', '10104', '10105', '10106', '10107',
       '10108', '10109', '10111', '10112', '10113', '10116', '10117',
       '10118', '10119', '10121', '10122', '20124', '20125', '20126',
       '20127', '20128', '20129', '20131', '20134', '20135', '20136',
       '20137', '20138', '20139', '20141', '20142', '20143', '20144',
       '30145', '30146', '30151', '30152', '30153', '30154', '30155',
       '30157', '30158', '30159', '30161', '30162', '30163', '30164',
       '30165', '40166', '40167', '40168', '40169', '40171', '40172',
       '40173', '40174', '40175', '40176', '40177', '40178', '40179',
       '40181', '40182', '40183', '40184', '40185', '50186', '50187',
       '50188', '50189', '50191', '50192', '50193', '50194', '50195',
       '50196', '50197', '50198', '50199', '51101', '51102', '51103',
       '51104', '51105', '51106', '51107', '11077', '11078', '11079',
       '11080', '11081', '11082', '11083', '11084', '11001', '11002',
       '11003', '11004', '11005', '11006', '11007', '11008', '11009',
       '11012', '11013', '11014', '11015', '11016', '11017', '11018',
       '11019', '11021', '11022', '11023', '11024', '11025', '11026',
       '11027', '11028', '11029', '11031', '11032', '11033', '11034',
       '11035', '11036', '11037', '11038', '11039', '11040', '11041',
       '11042', '11060', '11061', '11062', '11063', '11064', '11065',
       '11043', '11044', '11045', '11046', '11047', '11048', '11049',
       '11051', '11052', '11053', '11054', '11057', '12011', '11090',
       '11110', '11120', '41030', '41040', '41060', '51070', '31110',
       '31120', '31130', '41020', '41050', '41070', '41080', '41090',
       '41100', '41110', '51010', '51030', '51040', '51050', '21030',
       '21040', '21050', '21060', '21080', '21110', '31070', '31090',
       '31100', '21070', '51020', '11100', '31010', '21031', '21071',
       '21021', '21121', '21081', '21101', '21111', '21061', '21091',
       '21041', '21011', '21042', '24020', '24040', '24050', '27020',
       '10030', '24010', '24030', '25010', '26010', '25050', '25020',
       '25030', '25040', '26020', '26030', '26040', '27010', '22011',
       '14211', '26310', '27310', '21410', '13410', '24210', '25210',
       '11310', '12410', '12510', '24110', '25110', '25410', '25510',
       '48110', '22110', '12210', '12211', '15110', '16110', '32110',
       '33110', '34110', '35110', '36110', '36310', '37110', '36210',
       '60210', '60220', '60221', '20101', '10301', '10304', '10308',
       '30101', '30103', '20201', '20202', '20209', '20104', '60110',
       '60111', '60120', '60130', '20306', '10401', '10403', '10406',
       '10407', '20106', '20320', '40010', '40050', '40100', '10120',
       '10215', '20031', '20032', '20105', '20108', '20010', '20011',
       '10070', '20050', '10040', '20042', '20043', '10100', '20030',
       '20070', '20080', '10080', '20044', '20045', '20060', '10050',
       '30061', '30060', '10013', '40020', '30010', '30011', '30021',
       '30030', '30080', '30040', '30051', '30041', '30020', '20021',
       '23011', '23012', '23013', '23014', '23021', '23022', '23023',
       '23024', '22022', '22042', '23041', '23042', '26021', '26022',
       '26023', '23000', '23001', '22031', '22032', '22033', '22034',
       '22035', '23031', '23032', '23033', '23034', '23035', '14031',
       '14032', '14070', '13997', '32050', '32100', '20213', '20214',
       '20215', '20218', '20435', '20436', '25311', '20107', '20109',
       '20210', '20211', '20212', '20319', '20321', '20324', '20328',
       '20329', '20330', '20416', '20422', '20423', '20531', '25310',
       '20437', '20438', '20439', '20540', '20541', '20542', '20543',
       '20544', '24361', '20102', '20103', '21023', '21024', '21132',
       '21025', '21032', '21051', '21062', '21131', '21043', '21133',
       '21135', '11076', '11059', '17110', '17210', '17310', '18110',
       '22210', '23310', '28110', '18210', '20101-1', '22100', '22120',
       '11055', '11056', '18310', '25610'], dtype=object)

In [12]:
df_irrig["CodeTracabilite"].unique()
# ▶️ Code tracabilité existant à train_test dataset, not irrigation: ['TR12251' 'TR22014' 'TR12252' 'TR22012' 'TR12022' 'TR12122'], soit: 6

array(['TR11011', 'TR12010', 'TR12020', 'TR12050', 'TR13010', 'TR15060',
       'TR14010', 'TR11130', 'TR11140', 'TR11120', 'TR11090', 'TR11100',
       'TR11110', 'TR23070', 'TR23080', 'TR11070', 'TR11060', 'TR11080',
       'TR11030', 'TR11040', 'TR11010', 'TR11020', 'TR23020', 'TR23040',
       'TR23050', 'TR23060', 'TR11050', 'TR11240', 'TR11212', 'TR11211',
       'TR11160', 'TR11170', 'TR14000', 'TR17010', 'TR18010', 'TR19010',
       'TR13000', 'TR13030', 'TR11000', 'TR12000', 'TR16000', 'TR21010',
       'TR21020', 'TR15010', 'TR16020', 'TR16030', 'TR16050', 'TR16040',
       'TR18020', 'TR22050', 'TR22141', 'TR22220', 'TR21040', 'TR30099',
       'TR30100', 'TR30101', 'TR22130', 'TR22142', 'TR31040', 'TR22031',
       'TR14020', 'TR14030', 'TR14040', 'TR12030', 'TR13020', 'TR13040',
       'TR32010', 'TR22034', 'TR13051', 'TR13061', 'TR13070', 'TR13080',
       'TR13090', 'TR13100', 'TR13110', 'TR13120', 'TR13170', 'TR11003',
       'TR11402', 'TR11302', 'TR11105', 'TR11203', 'TR11602', 'TR11501',
       'TR11222', 'TR11221', 'TR11223', 'TR12222', 'TR16001', 'TR11803',
       'TR11901', 'TR12002', 'TR12101', 'TR11703', 'TR12070', 'TR12130',
       'TR12204', 'TR21902', 'TR21705', 'TR21807', 'TR23150', 'TR21606',
       'TR21202', 'TR21001', 'TR31001', 'TR31102', 'TR22005', 'TR21303',
       'TR22060', 'TR22080', 'TR24102', 'TR31303', 'TR31202', 'TR21404',
       'TR21504', 'TR24200', 'TR31401', 'TR10000', 'TR20100', 'TR20200',
       'TR30200', 'TR40300', 'TR40100', 'TR40200', 'TR50000', 'TR20000',
       'TR50100', 'TR50200', 'TR11077', 'TR11078', 'TR11079', 'TR11081',
       'TR11082', 'TR11083', 'TR11084', 'TR11300', 'TR11400', 'TR11200',
       'TR11500', 'TR11061', 'TR11062', 'TR11063', 'TR11064', 'TR11065',
       'TR11600', 'TR11044', 'TR11045', 'TR11046', 'TR11047', 'TR11048',
       'TR11049', 'TR11051', 'TR11052', 'TR11053', 'TR11054', 'TR11057',
       'TR12011', 'TR11121', 'TR21130', 'TR41040', 'TR41060', 'TR51070',
       'TR21100', 'TR31110', 'TR31120', 'TR31130', 'TR41020', 'TR41070',
       'TR41080', 'TR41090', 'TR41100', 'TR41110', 'TR51040', 'TR51050',
       'TR21030', 'TR21050', 'TR21060', 'TR21080', 'TR21090', 'TR21110',
       'TR21120', 'TR31020', 'TR31030', 'TR31080', 'TR31060', 'TR31100',
       'TR21070', 'TR51020', 'TR31010', 'TR21031', 'TR21071', 'TR21021',
       'TR21121', 'TR21081', 'TR21101', 'TR21111', 'TR21061', 'TR21091',
       'TR21041', 'TR21011', 'TR21042', 'TR24020', 'TR24040', 'TR24050',
       'TR27020', 'TR10030', 'TR10031', 'TR23010', 'TR10010', 'TR24000',
       'TR23000', 'TR25050', 'TR25000', 'TR26000', 'TR27010', 'TR22010',
       'TR22011', 'TR14211', 'TR26310', 'TR21410', 'TR13410', 'TR24210',
       'TR11310', 'TR25110', 'TR25510', 'TR48110', 'TR22110', 'TR12210',
       'TR12211', 'TR16110', 'TR32110', 'TR33110', 'TR34110', 'TR35110',
       'TR36310', 'TR36210', 'TR60300', 'TR60400', 'TR10100', 'TR30000',
       'TR20104', 'TR60000', 'TR60100', 'TR60200', 'TR10200', 'TR10400',
       'TR10500', 'TR10600', 'TR20400', 'TR20300', 'TR40000', 'TR10120',
       'TR10700', 'TR20500', 'TR20032', 'TR20108', 'TR20600', 'TR20011',
       'TR10011', 'TR10300', 'TR30400', 'TR10013', 'TR40010', 'TR40020',
       'TR30010', 'TR30011', 'TR30021', 'TR30500', 'TR30300', 'TR23011',
       'TR23012', 'TR23013', 'TR23014', 'TR23021', 'TR23022', 'TR23023',
       'TR23024', 'TR22022', 'TR22042', 'TR23041', 'TR23042', 'TR26020',
       'TR26021', 'TR26022', 'TR26023', 'TR23001', 'TR22030', 'TR22032',
       'TR22033', 'TR22035', 'TR23030', 'TR23031', 'TR23032', 'TR23033',
       'TR23034', 'TR23035', 'TR14031', 'TR14032', 'TR14070', 'TR20213',
       'TR20214', 'TR20215', 'TR20217', 'TR20218', 'TR20435', 'TR20436',
       'TR25311', 'TR20107', 'TR20109', 'TR20210', 'TR20211', 'TR20212',
       'TR20319', 'TR20320', 'TR20321', 'TR20324', 'TR20328', 'TR20329',
       'TR20330', 'TR20416', 'TR20422', 'TR20423', 'TR20531', 'TR25310',
       'TR20106', 'TR20437', 'TR20438', 'TR20439', 'TR20540', 'TR20541',
       'TR20542', 'TR20543', 'TR20544', 'TR24361', 'TR20101', 'TR20102',
       'TR20103', 'TR20105', 'TR21023', 'TR21024', 'TR21132', 'TR21025',
       'TR21032', 'TR21051', 'TR21062', 'TR21131', 'TR21043', 'TR21133',
       'TR21135', 'TR11076', 'TR11059', 'TR21140', 'TR22040', 'TR26030',
       'TR26040', 'TR17110', 'TR17210', 'TR17310', 'TR18110', 'TR22210',
       'TR23110', 'TR23210', 'TR23310', 'TR24110', 'TR28110', 'TR18210',
       'TR22100', 'TR22120', 'TR11055', 'TR11056', 'TR18310', 'TR25610'],
      dtype=object)

In [13]:
unique_traca_df = df[~df['CodeTracabilite'].isin(df_irrig['CodeTracabilite'])]['CodeTracabilite'].unique()
unique_parcelle_df = df[~df['Num Parcelle'].isin(df_irrig['Num Parcelle'])]['Num Parcelle'].unique()
unique_region_df = df[~df['Region'].isin(df_irrig['Region'])]['Region'].unique()
unique_site_df = df[~df['Site'].isin(df_irrig['Site'])]['Site'].unique()
unique_variete_df = df[~df['Variete'].isin(df_irrig['Variete'])]['Variete'].unique()
unique_famille_df = df[~df['Famille'].isin(df_irrig['Famille'])]['Famille'].unique()



print(f'''
    ▶️ Code tracabilité existant à train_test dataset, not irrigation: {unique_traca_df}, soit: {len(unique_traca_df)}
    ▶️ Num Parcelle existant à train_test dataset, not irrigation: {unique_parcelle_df}, soit: {len(unique_parcelle_df)}
    ▶️ Region existant à train_test dataset, not irrigation: {unique_region_df}, soit: {len(unique_region_df)}
    ▶️ Site existant à train_test dataset, not irrigation: {unique_site_df}, soit: {len(unique_site_df)}
    ▶️ Variete existant à train_test dataset, not irrigation: {unique_variete_df}, soit: {len(unique_variete_df)}
    ▶️ Famille existant à train_test dataset, not irrigation: {unique_famille_df}, soit: {len(unique_famille_df)}

''')

    ▶️ Code tracabilité existant à train_test dataset, not irrigation: ['TR12251' 'TR22014' 'TR12252' 'TR22012' 'TR12022' 'TR12122'], soit: 6
    ▶️ Num Parcelle existant à train_test dataset, not irrigation: ['20093' '12251' '22014' '12252' '22012' '12022' '12122'], soit: 7
    ▶️ Region existant à train_test dataset, not irrigation: [], soit: 0
    ▶️ Site existant à train_test dataset, not irrigation: ['Rabat'], soit: 1
    ▶️ Variete existant à train_test dataset, not irrigation: [], soit: 0
    ▶️ Famille existant à train_test dataset, not irrigation: [], soit: 0

In [14]:
df['Region'].unique()

array(['GHARB', 'HAOUZ', 'SOUSS', 'TADLA', 'ORIENTAL'], dtype=object)

In [15]:
# def get_irrigation_qte(row):
#     # Filter the DataFrame based on all the conditions
#     irrigation_qte = df_irrig[
#         (df_irrig['Date'] <= row['Date']) &
#         (df_irrig['Campagne'] == row['Campagne']) &
#         (df_irrig['Region'] == row['Region']) &
#         (df_irrig['Site'] == row['Site']) &
#         (df_irrig['Famille'] == row['Famille']) &
#         (df_irrig['Variete'] == row['Variete']) &
#         (df_irrig['Num Parcelle'] == row['Num Parcelle']) &
#         (df_irrig['CodeTracabilite'] == row['CodeTracabilite'])
#     ][['Qté eau (m3)']]

#     irrigation_cumulee = irrigation_qte.sum().iloc[0]

#     # Use .iloc[0] for positional indexing
#     if irrigation_cumulee != 0:
#         return irrigation_cumulee
#     else:
#         # print(row)
#         # print("➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖")
#         return irrigation_cumulee
    
# df['irrigation_cumulee'] = df.apply(get_irrigation_qte, axis=1)

In [16]:
for index, row in df.iterrows():
    one_year_prior = row['Date'] - pd.DateOffset(years=1)

    # Applying the same logic as the previous code
    for month_index in range(0, 12):  # Adjusted to include month 12
        target_month = (row['Date'] - pd.DateOffset(months=month_index)).month
        mask = (
            (df_irrig['Region'] == row['Region']) &
            (df_irrig['Site'] == row['Site']) &
            (df_irrig['Famille'] == row['Famille']) &
            (df_irrig['Variete'] == row['Variete']) &
            (df_irrig['Num Parcelle'] == row['Num Parcelle']) &
            (df_irrig['CodeTracabilite'] == row['CodeTracabilite']) &
            (df_irrig['Date'] <= row['Date']) &
            (df_irrig['Date'] >= one_year_prior) &
            # Ensure comparison is only by month
            (df_irrig['Date'].dt.month == target_month)
        )

        # Extracting the quantity of water and summing it up
        irrigation_qte = df_irrig.loc[mask, 'Qté eau (m3)']
        irrigation_cumulee = irrigation_qte.sum()

        # Assigning the cumulative irrigation to the corresponding row in df
        df.at[index,
              f'irrigation_cumulee_{month_index+1}'] = irrigation_cumulee

In [17]:
# df[df['Num Parcelle'].astype(str).str.startswith('23010')]

In [18]:
# r = len(df[df['Site'] == 'Rabat'])
# codes = len(df[df['CodeTracabilite'].isin(['TR12251', 'TR12252', 'TR22012', 'TR22014', 'TR12022', 'TR12122'])])
# nums = len(df[df['Num Parcelle'].isin(['40131', '10070', '13130', '11112', '11222', '12251', '12252', '20093', 
#                        '15070', '15040', '15080', '15090', '15100', '15120', '19999', '23000', 
#                        '22012', '22014', '12022', '12122'])])

# print(f'''
#     ▶️ df with site rabat: {r},
#     ▶️ df with the CodeTraca that doesn't exist in irrigation: {codes},
#     ▶️ df with the Num Parcelle that doesn't exist in irrigation: {nums},
# ''')

In [19]:
len(df[df['Site'] == 'Rabat']), len(df_irrig[df_irrig['Site'] == 'Rabat'])

(21, 0)

In [21]:
# len(df[df['irrigation_cumulee'] == 0]) ====> 248

In [22]:
# get_irrigation_qte(test_row[0], test_row[1], test_row[2], test_row[3], test_row[4], test_row[5], test_row[6], test_row[7])

In [23]:
# # Iterate over df1 and sum irrigation for each period from the earliest available date to the end date
# for index, row in df1.iterrows():
#     mask = (
#         (df2['Campagne'] == row['Campagne']) &
#         (df2['Variete'] == row['Variete']) &
#         (df2['Num Parcelle'] == row['Num Parcelle']) &
#         (df2['CodeTracabilite'] == row['CodeTracabilite']) &
#         (df2['Date'] <= row['Date'])  # Using row['Date'] as the end date
#     )
#     df1.at[index, 'Summed_Irrigation'] = df2.loc[mask, 'Qté eau (m3)'].sum()

## Add NPK

In [24]:
df_npk = pd.read_csv("../processing_1\combined_Apports_NPK.csv", index_col=False)

# Clean the 'Qté eau (m3)' column
df_npk['N'] = df_npk['N'].str.replace(',', '.')
df_npk['N'] = df_npk['N'].str.replace(r'[^\d.-]', '', regex=True).astype(float)

df_npk['P'] = df_npk['P'].str.replace(',', '.')
df_npk['P'] = df_npk['P'].str.replace(r'[^\d.-]', '', regex=True).astype(float)

df_npk['K'] = df_npk['K'].str.replace(',', '.')
df_npk['K'] = df_npk['K'].str.replace(r'[^\d.-]', '', regex=True).astype(float)

df_npk['Date'] = pd.to_datetime(df_npk['Date'], dayfirst=True)

C:\Users\Oussama.ENNAJJAR\AppData\Local\Temp\ipykernel_15888\3181972718.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_npk = pd.read_csv("../processing_1\combined_Apports_NPK.csv", index_col=False)
C:\Users\Oussama.ENNAJJAR\AppData\Local\Temp\ipykernel_15888\3181972718.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_npk['Date'] = pd.to_datetime(df_npk['Date'], dayfirst=True)

In [25]:
def remove_after_dot(s):
    dot_position = s.find('.')
    if dot_position == -1:
        return s
    return s[:dot_position]

df_npk['Num Parcelle'] = df_npk['Num Parcelle'].astype(str)

df_npk['Num Parcelle'] = df_npk['Num Parcelle'].apply(remove_after_dot)

df_npk['Num Parcelle'] = df_npk['Num Parcelle'].str.strip()

df_npk['CodeTracabilite'] = df_npk['CodeTracabilite'].str.strip()

In [26]:
import pandas as pd

# Iterate over df1 and sum NPK for each period
for index, row in df.iterrows():
    one_year_prior = row['Date'] - pd.DateOffset(years=1)
    for month_index in range(0, 12):  # Adjusted to include month 12

        target_month = (row['Date'] - pd.DateOffset(months=month_index)).month
        
        mask = (
            (df_npk['Variete'] == row['Variete']) &
            (df_npk['Num Parcelle'] == row['Num Parcelle']) &
            (df_npk['CodeTracabilite'] == row['CodeTracabilite']) &
            # filter year
            (df_npk['Date'] <= row['Date']) &
            (df_npk['Date'] >= one_year_prior) &
            # filter month
            (df_npk['Date'].dt.month == target_month)
        )

        df.at[index,
              f'N_cumulee_{month_index + 1}'] = df_npk.loc[mask, 'N'].sum()
        df.at[index,
              f'P_cumulee_{month_index + 1}'] = df_npk.loc[mask, 'P'].sum()
        df.at[index,
              f'K_cumulee_{month_index + 1}'] = df_npk.loc[mask, 'K'].sum()

In [27]:
# for month in range(1, 13):
#     print(f'N_cumulee_{month}')

In [28]:
unique_traca_df = df[~df['CodeTracabilite'].isin(df_npk['CodeTracabilite'])]['CodeTracabilite'].unique()
unique_parcelle_df = df[~df['Num Parcelle'].isin(df_npk['Num Parcelle'])]['Num Parcelle'].unique()
unique_region_df = df[~df['Region'].isin(df_npk['Region'])]['Region'].unique()
unique_site_df = df[~df['Site'].isin(df_npk['Site'])]['Site'].unique()
unique_variete_df = df[~df['Variete'].isin(df_npk['Variete'])]['Variete'].unique()
unique_famille_df = df[~df['Famille'].isin(df_npk['Famille'])]['Famille'].unique()



print(f'''
    ▶️ Code tracabilité existant à train_test dataset, not irrigation: {unique_traca_df}, soit: {len(unique_traca_df)}
    ▶️ Num Parcelle existant à train_test dataset, not irrigation: {unique_parcelle_df}, soit: {len(unique_parcelle_df)}
    ▶️ Region existant à train_test dataset, not irrigation: {unique_region_df}, soit: {len(unique_region_df)}
    ▶️ Site existant à train_test dataset, not irrigation: {unique_site_df}, soit: {len(unique_site_df)}
    ▶️ Variete existant à train_test dataset, not irrigation: {unique_variete_df}, soit: {len(unique_variete_df)}
    ▶️ Famille existant à train_test dataset, not irrigation: {unique_famille_df}, soit: {len(unique_famille_df)}

''')

    ▶️ Code tracabilité existant à train_test dataset, not irrigation: ['TR23060' 'TR21025' 'TR21051' 'TR21131' 'TR21062'], soit: 5
    ▶️ Num Parcelle existant à train_test dataset, not irrigation: ['25110' '20093' '21025' '21051' '21131' '21062'], soit: 6
    ▶️ Region existant à train_test dataset, not irrigation: [], soit: 0
    ▶️ Site existant à train_test dataset, not irrigation: [], soit: 0
    ▶️ Variete existant à train_test dataset, not irrigation: [], soit: 0
    ▶️ Famille existant à train_test dataset, not irrigation: [], soit: 0

In [29]:
df_npk[df_npk["Num Parcelle"] == "13030"].Date.unique().min(), df_npk[df_npk["Num Parcelle"] == "13030"].Date.unique().max()

(Timestamp('2020-10-06 00:00:00'), Timestamp('2023-09-30 00:00:00'))

In [30]:
df[df["Num Parcelle"] == "13030"].Date.unique().min(), df[df["Num Parcelle"] == "13030"].Date.unique().max()

(Timestamp('2020-10-01 00:00:00'), Timestamp('2022-11-01 00:00:00'))

In [31]:
df[(df["Num Parcelle"] == "13030") & (df["CodeTracabilite"] == "TR11130") & (
    (df["Variete"] == "CLA1"))]

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,Tonnage,is_train,...,K_cumulee_9,N_cumulee_10,P_cumulee_10,K_cumulee_10,N_cumulee_11,P_cumulee_11,K_cumulee_11,N_cumulee_12,P_cumulee_12,K_cumulee_12
0,20/21,GHARB,Chorf Laghouazi,CLA,CLA1,13030,TR11130,2020-10-01,"269,855",True,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.0
1359,21/22,GHARB,Chorf Laghouazi,CLA,CLA1,13030,TR11130,2021-10-01,179,True,...,6.038870,0.000000,0.000000,0.000000,20.347619,4.645285,0.00000,0.0,0.0,0.0
1649,21/22,GHARB,Chorf Laghouazi,CLA,CLA1,13030,TR11130,2021-12-01,"1805,6",True,...,28.275645,47.287115,25.963747,20.147043,25.325276,7.340055,6.03887,0.0,0.0,0.0
2761,22/23,GHARB,Chorf Laghouazi,CLA,CLA1,13030,TR11130,2022-10-01,"43937,6",True,...,0.000000,21.368306,0.000000,0.000000,0.240341,0.000000,0.00000,0.0,0.0,0.0

In [32]:
df_npk[(df_npk["Num Parcelle"] == "60110") & (df_npk["CodeTracabilite"] == "TR60000") & (
    (df_npk["Variete"] == "MAD1")) & (df_npk["Date"] <= pd.to_datetime("2023-02-01"))]

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,N,P,K
107375,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-03-29,0.075593,0.000000,0.120948
107376,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-04-15,2.429750,1.317454,1.079880
107377,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-04-20,3.494528,1.976199,2.159775
107378,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-05-06,2.770998,1.976199,1.619835
107379,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-05-13,0.502149,0.000000,0.000000
107380,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-05-18,0.017278,0.103669,0.138226
107381,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-05-20,2.770998,1.976199,1.619835
107382,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-05-31,0.000000,0.000000,0.103669
107383,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-06-01,0.786366,0.000000,0.000000
107384,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-06-03,2.770998,1.976199,1.619835
107385,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-08-05,8.101360,5.928614,4.859520
107386,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-08-18,0.647935,3.293671,0.000000
107387,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-08-23,0.826756,0.421577,0.993490
107388,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-08-25,0.826756,0.421577,0.993490
107389,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-08-29,0.826756,0.421577,0.993490
107390,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-09-04,0.826756,0.421577,0.993490
107391,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-09-06,0.545987,0.421577,0.000000
107392,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-09-09,0.723520,0.000000,0.000000
107393,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-09-11,0.723520,0.000000,0.000000
107394,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-09-13,0.723520,0.000000,0.000000
107395,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-09-19,0.723520,0.000000,0.000000
107396,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-09-21,0.723520,0.000000,0.000000
107397,21/22,TADLA,Bni Ayat,MAD,MAD1,60110,TR60000,2022-09-25,1.663262,0.260596,0.352343

In [34]:
import os
# Ensure the folder exists
if not os.path.exists(folder_path2):
    os.makedirs(folder_path2)

# Specify the full file path (folder path + file name)
file_path = os.path.join(folder_path2, 'train_test_merged_monthly.csv')

# Save the DataFrame to a CSV file
df.to_csv(file_path, index=False)

In [47]:
columns_to_sum = ['irrigation_cumulee_' + str(i) for i in range(1, 13)]

# Compute the row-wise sum of these columns
row_sums = df[columns_to_sum].sum(axis=1)

# Create a sub-dataframe where the sum is zero
df[row_sums == 0]

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,Tonnage,is_train,...,K_cumulee_9,N_cumulee_10,P_cumulee_10,K_cumulee_10,N_cumulee_11,P_cumulee_11,K_cumulee_11,N_cumulee_12,P_cumulee_12,K_cumulee_12
3,20/21,GHARB,Chorf Laghouazi,CLA,CLA14,12010,TR11090,2020-10-01,"37891,08567",True,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,20/21,GHARB,Chorf Laghouazi,CLA,CLA14,12020,TR11100,2020-10-01,"45197,56034",True,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
10,20/21,GHARB,Ben Mansour,CLA,CLA13,11130,TR11130,2020-10-01,"36082,22357",True,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
11,20/21,GHARB,Ben Mansour,CLA,CLA13,11212,TR11212,2020-10-01,"48051,99275",True,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
12,20/21,GHARB,Ben Mansour,CLA,CLA14,11211,TR11211,2020-10-01,"24892,98368",True,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3794,22/23,SOUSS,Taroudant,SPA,SPA1,22014,TR22014,2023-03-01,NaN,False,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3810,22/23,GHARB,Rabat,CLA,CLA18,12022,TR12022,2023-04-01,NaN,False,...,0.038336,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3811,22/23,GHARB,Rabat,CLA,CLA18,12122,TR12122,2023-04-01,NaN,False,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3860,22/23,GHARB,Rabat,CLA,CLA18,12022,TR12022,2023-05-01,NaN,False,...,0.000000,0.052672,0.0,0.038336,0.0,0.0,0.0,0.0,0.0,0.0
3861,22/23,GHARB,Rabat,CLA,CLA18,12122,TR12122,2023-05-01,NaN,False,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0