In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.metrics import mean_squared_error, mean_absolute_error
from datetime import datetime
import os

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder

folder_path = "C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/processing_1"

## Combine irrigation

In [11]:
irri_2 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Irrigation_2.csv", sep = ';', encoding='ISO-8859-1', index_col=False)
irri_3 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Irrigation_3.csv", sep = ';', encoding='ISO-8859-1', index_col=False)
irri_4 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Irrigation_4.csv", sep = ';', encoding='ISO-8859-1', index_col=False)
irri_5 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Irrigation_5.csv", sep = ';', encoding='ISO-8859-1', index_col=False)
irri_6 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Irrigation_6.csv", sep = ';', encoding='ISO-8859-1', index_col=False)
irri_7 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Irrigation_7.csv", sep = ';', encoding='ISO-8859-1', index_col=False)
irri_8 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Irrigation_8.csv", sep = ';', encoding='ISO-8859-1', index_col=False)
irri_9 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Irrigation_9.csv", sep = ';', encoding='ISO-8859-1', index_col=False)

In [12]:
# Create a dictionary of irri dataframes
irri_dict = {i: globals()[f'irri_{i}'] for i in range(2, 10)}

# Columns to check for NaN values
na_columns = ['Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle', 'Code Traçabilité']

# Drop NaN values and concatenate all dataframes
combined_irri = pd.concat([df.dropna(subset=na_columns) for df in irri_dict.values()], ignore_index=True)

In [13]:
combined_irri

,Campagne,Region,Site,Famille,Variete,Num Parcelle,Code Traçabilité,Date,Qté eau (m3)
0,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,01/10/20,"185,4000"
1,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,02/10/20,"186,6000"
2,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,04/10/20,"184,2000"
3,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,05/10/20,"183,6000"
4,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,06/10/20,"180,9000"
...,...,...,...,...,...,...,...,...,...
456993,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,04/08/23,"14,1000"
456994,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,05/08/23,"14,1000"
456995,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,07/08/23,"14,1000"
456996,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,08/08/23,"14,1000"
456997,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,09/08/23,"14,1000"

In [16]:
## Saving i the folder processing_1
# Ensure the folder exists
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Specify the full file path (folder path + file name)
file_path = os.path.join(folder_path, 'combined_irrigation.csv')

# Save the DataFrame to a CSV file
combined_irri.to_csv(file_path, index=False)

## Combine NPK

In [4]:
Apports_NPK_10 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Apports N.P.K_10.csv", sep = ';', encoding='ISO-8859-1', index_col=False)
Apports_NPK_11 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Apports N.P.K_11.csv", sep = ';', encoding='ISO-8859-1', index_col=False)
Apports_NPK_12 = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/Apports N.P.K_12.csv", sep = ';', encoding='ISO-8859-1', index_col=False)

In [6]:
Apports_NPK_10 = Apports_NPK_10.dropna(subset=['Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle', 'CodeTracabilite'])
Apports_NPK_11 = Apports_NPK_11.dropna(subset=['Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle', 'CodeTracabilite'])
Apports_NPK_12 = Apports_NPK_12.dropna(subset=['Campagne', 'Region', 'Site', 'Famille', 'Variete', 'Num Parcelle', 'CodeTracabilite'])

In [7]:
combined_apport = pd.concat([Apports_NPK_10, Apports_NPK_11], ignore_index=True)
combined_apport = pd.concat([combined_apport, Apports_NPK_12], ignore_index=True)

In [8]:
combined_apport

,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,N,P,K
0,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,01/10/20,"38,19",0,"83,4"
1,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,05/10/20,0,"14,535","9,69"
2,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,15/10/20,"2,604",0,0
3,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,16/10/20,0,0,"42,6"
4,20/21,GHARB,Douar Oued Mahdouma,AF,AF1,11011,TR11011,24/11/20,"2,511",0,0
...,...,...,...,...,...,...,...,...,...,...,...
166370,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,23/06/23,"2,96475",0,0
166371,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,21/07/23,"2,82204",0,0
166372,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,23/07/23,"1,809",0,0
166373,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,26/07/23,"2,511495",0,0
166374,22/23,TADLA,Beni Mellal,SPA,SPA1,40020.0,TR40020,28/07/23,"0,9045",0,0

In [13]:
# Ensure the folder exists
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Specify the full file path (folder path + file name)
file_path = os.path.join(folder_path, 'combined_Apports_NPK.csv')

# Save the DataFrame to a CSV file
combined_apport.to_csv(file_path, index=False)

## Concat Test_train

In [4]:
train = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/train.csv", sep = ';', index_col=False)
test = pd.read_csv("C:/Users/DataScience/Desktop/kaggle's competition/AgrumeProdPred/dataset/test.csv", sep = ';', index_col=False)

In [11]:
len(test)

781

In [7]:
train['is_train'] = True
test['is_train'] = False

In [8]:
train_test = pd.concat([train, test], ignore_index=True)

In [9]:
train_test

,Id,Campagne,Region,Site,Famille,Variete,Num Parcelle,CodeTracabilite,Date,Tonnage,is_train
0,1,20/21,GHARB,Chorf Laghouazi,CLA,CLA1,13030,TR11130,01/10/2020,"269,855",True
1,2,20/21,GHARB,Chorf Laghouazi,CLA,CLA6,18030,TR11140,01/10/2020,"101605,9951",True
2,3,20/21,GHARB,Chorf Laghouazi,CLA,CLA12,13010,TR11120,01/10/2020,"170,354",True
3,4,20/21,GHARB,Chorf Laghouazi,CLA,CLA14,12010,TR11090,01/10/2020,"37891,08567",True
4,5,20/21,GHARB,Chorf Laghouazi,CLA,CLA14,12020,TR11100,01/10/2020,"45197,56034",True
...,...,...,...,...,...,...,...,...,...,...,...
3895,777,22/23,SOUSS,Ouled Abbou,SPA,SPA4,21071,TR21071,01/09/2023,NaN,False
3896,778,22/23,SOUSS,Ouled Abbou,SPA,SPA5,21021,TR21021,01/09/2023,NaN,False
3897,779,22/23,SOUSS,Ouled Abbou,SPA,SPA6,21121,TR21121,01/09/2023,NaN,False
3898,780,22/23,SOUSS,Ouled Abbou,SPA,SPA7,21081,TR21081,01/09/2023,NaN,False
3899,781,22/23,SOUSS,Ouled Abbou,SPA,SPA11,21011,TR21011,01/09/2023,NaN,False

In [10]:
train_test.isna().sum()

Id                   0
Campagne             0
Region               0
Site                 0
Famille              0
Variete              0
Num Parcelle         0
CodeTracabilite      0
Date                 0
Tonnage            781
is_train             0
dtype: int64

In [12]:
# Ensure the folder exists
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Specify the full file path (folder path + file name)
file_path = os.path.join(folder_path, 'train_test.csv')

# Save the DataFrame to a CSV file
train_test.to_csv(file_path, index=False)